nav {
    display: flex;
    flex-direction: column;
}

.nav__link {
    color: blue;
    text-decoration: none;
}

.nav__link:active{
    font-weight: 900;
    text-decoration: none;
    color: red;
}